//全文字体
body {
    font-family: 'Noto Serif SC',"PingFang SC","Microsoft YaHei",sans-serif;
}
code, pre {
    font-family: 'Roboto Mono',consolas,Menlo,monospace,"PingFang SC","Microsoft YaHei";
}

// 菜单栏样式
.header {
    background: #ffffff;
}

//去除菜单项左边icon
.menu-item .fa {
    display: none;
}

//更改菜单项字体大小
.menu-item a, .menu-item span.exturl {
    font-size: 1.25em;
    color: grey
}
.menu-item-active a, .menu .menu-item a:hover, .menu .menu-item span.exturl:hover {
    background: #ffffff;
    color: #000;
    font-size: 1.25em;
}

//去掉网站名上下的横线
.logo-line-before i, .logo-line-after i {
    display: none;
}

//更改网站名字体大小
.site-title {
    font-size: 2em;
}
// 菜单栏样式结束

//侧边栏样式
.sidebar {
    background: #bbbbbb1a;
    bottom: 0;
    position: fixed;
    box-shadow: inset 0 0px 0px #0000;
    top: 0;
    z-index: 200;
}


@media screen and (max-width:991px){
    .sidebar {
        background: rgb(255, 255, 255);
        box-shadow: -1px 0px 10px 0px #0000004a;
    }
}

//目录与站点概览链接样式
.sidebar-nav li{
    color: #555;
    font-size: 1em;
}
.sidebar-nav li:hover{
    color: #222;
}
.sidebar-nav li.sidebar-nav-overview {
    margin-left: 10px;
}
.sidebar-nav .sidebar-nav-active {
    border-bottom-color: #222;
    color: #222;
}
.sidebar-nav .sidebar-nav-active:hover {
    border-bottom-color: #222;
    color: #222;
}

//目录样式
.post-toc ol a {
    border-bottom-color: #5550;
}
.post-toc .nav .active-current > a {
    color: #222;
}
.post-toc .nav .active > a {
    border-bottom-color: #222;
    color: #222;
}
.post-toc .nav .active-current > a:hover {
    color: #222;
}

//头像样式
.site-author-image {
    border: 0px solid #333;
}

//name字体颜色
.site-author-name {
    color: #222;
}
//description颜色
.site-description {
    color: #222;
}

//sidebar-item颜色
.sidebar a, .sidebar span.exturl {
    border-bottom-color: #2220;
    color: #222;
}
.sidebar a:hover, .sidebar span.exturl:hover {
    border-bottom-color: #2220;
    color: #22222282;
}

//RSS样式
.feed-link a, .chat a {
    border: 0px solid #fc6423;
}
.feed-link a:hover, .chat a:hover {
    background: #bbbbbb1a;
    border: 0px solid #fc6423;
    color: #222;
}
.fa-feed:before, .fa-rss:before {
    color: #222;
}

//社交链接样式
.links-of-author a::before, .links-of-author span.exturl::before {
    display: none;
}

//展开按钮
.toggle .toggle-line {
    background: #222;
    height: 3px;
}
.sidebar-toggle {
    background: #bbb0;
    height: 20px;
    width: 25px;
}

//返回顶部按钮
.back-to-top {
    background: #2220;
        color: #222;
}
//侧边栏样式结束

//文章块添加阴影
.post-block{
   margin-top: 60px;
   margin-bottom: 60px;
   border-radius: 20px; //文章背景设置圆角
   padding: 10px 15px 10px 15px;
   background:rgba(255,255,255,0.5) none repeat scroll !important; //添加透明效果
//    -webkit-box-shadow: 0 0 15px rgba(202, 203, 203, .8);
//    -moz-box-shadow: 0 0 15px rgba(202, 203, 204, .8);
}
.posts-expand .post-block:not(:first-child) {
    margin-top: 80px;
}

//调节文章宽度
// .main-inner {
//     width: 800px;
// }

//调整子标题文本大小
.site-subtitle {
    font-size: 1em;
}

//加入背景图片
//body { 
//	background: url(/images/background.jpg)
//	background-repeat: no-repeat;
//    background-attachment:fixed;
//    background-position:50% 50%;
//}
	
//调整文章块底部空白大小
.post-eof {
    margin: 20px auto 20px;
}

//调整按钮透明度
.btn {
    background: rgba(255,255,255,0);
}

//底部文字居中对齐
.footer-inner {
    text-align: center;
}

//调整多级列表文字大小
.post-body li {
    font-size: 0.875em;  
}

//调整图片居中
.posts-expand .post-body img {
    margin-left: auto;
}

//调整文章列表标题居中
.posts-expand .home .post-title, .posts-expand .home .post-meta {
    text-align: center;
}

//调整阅读全文按钮居中
.post-button {
    text-align: center;
}
.post-button .btn {
    font-size: 1em;
}

//代码块文字大小 
.highlight-wrap {
    font-size: 0.875em
}


//行内代码块文字大小
code {
    font-size: 0.875em;
}

//文章文字大小
p {
    font-size: 1em; 
}

//图片border
.post-body img {
    border: 0px;
}